{% extends 'base_auth.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 mt-5">
    <div class="card">
      <div class="card-body">
        <div class="card-title py-3">
          <h4>Set your new password</h4>
        </div>

        <form action="{% url 'reset-pasword' uidb64 token %}" method="post">
          {% csrf_token %} {% include 'partials/_messages.html' %}
          <div class="form-group py-3">
            <input
              type="password"
              name="password"
              placeholder="Password"
              id="passwordField"
              class="form-control form-control-sm"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="confirm_password"
              placeholder="Comfirm Password"
              id="confirmPasswordField"
              class="form-control form-control-sm"
            />
            <small class="float-end py-3 showPasswordToggle">SHOW</small>
          </div>
          <div class="clearfix"></div>
          <div class="d-grid gap-2 mx-auto">
            <input
              type="submit"
              value="Submit"
              class="btn btn-primary submit-btn"
            />
          </div>
        </form>
        <div class="container">
          <span class="text-lead lead">Remember your existing password?</span>
          <a href="{% url 'login' %}">Login</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/resetPassword.js' %}"></script>

{% endblock content %}
